:root {
    --color2: #8b7aeb;
    --color-texto: #202a44;
    --color-fondo1: #f8f6f1;
    --color-fondo2: #ffffff;
    --color-extra1: #f28c8c;
    --color-extra2: #a8c3b0;

    --fuente-titulo: "DM Serif Display", serif;
    --fuente-texto: "Inter", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--fuente-texto);
    background-color: var(--color-fondo1);
    color: var(--color-texto);
    line-height: 1.6;
}


.seccion{
    width: 100%;
    /* background-color: red; */
    background-color: var(--color-fondo1);
    padding-left: 30px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
}


/* PRESENTACIÓN */

#presentacion {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 25px;
}

#nombre h1 {
    font-family: var(--fuente-titulo);
    font-size: 60px;
    font-weight: 400;
    color: var(--color-texto);
    line-height: 1;
    margin: 0;
}

#nombre h1 span {
    font-family: var(--fuente-titulo);
    font-size: 45px;
    color: var(--color2);
    vertical-align: middle;
    margin-left: 15px;
}

#i_pre{
    width: 65%;
    background-color: var(--color-fondo1);
    left: 0px;
    padding-right: 10px;
}

#d_pre{
    width: 35%;
    background-color: var(--color-fondo1);
    right: 0px;
}


a {
    display: inline-block;
}

#presentacion a {
    margin-right: 15px;
    margin-top: 10px;
    padding: 10px 18px;
    border: 1px solid var(--color2);
    border-radius: 35px;
    width: 170px;
    text-align: center;
    text-decoration: none;
}

.boton_color{
    background-color: var(--color2);
    color: var(--color-fondo2);
    font-weight: bold;
}

.boton_blanco{
    background-color: var(--color-fondo2);
    color: var(--color2);
    font-weight: bold;
}


/* SECCIONES */

/* PROYECTOS */

#caja {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.div_proyecto {
    background-color: var(--color-fondo1);
    padding-left: 15px;
    border-radius: 15px;
    height: 100%;
}
.div_proyecto ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 0;
}

.div_proyecto li {
    background-color: var(--color2);
    border: 1px solid var(--color2);
    border-radius: 25px;
    font-size: 15px;
    font-weight: 500;
    color: var(--color-fondo1);
    width: fit-content;
    padding: 4px 9px 4px 9px;
}

.boton_pro{
    margin-bottom: 10px;
    color: var(--color2);
}




/* HABILIDADES 

#habilidades ul {
    padding-left: 20px;
}
*/

/* CONTACTO 

#contacto a {
    margin-right: 20px;
}

*/
